.wy-nav-content {
    max-width: 80%; /* 或根据你的需求调整 */
}
/* 调整左侧导航栏的宽度 */
.wy-nav-side {
    max-width: 30%;/* 默认值通常是 250px，您可以根据需要调整这个值 */
}

.highlight.pre {
   background-color: #F0FFF0; /* 浅绿色，蜜露色 */
    padding: 10px; /* 添加一些内边距以便于阅读 */
    border-radius: 5px; /* 添加轻微的圆角以优化视觉效果 */
    border: 1px solid #E0EEE0; /* 添加一个与背景色相近但稍深的边框 */
}
/* 针对代码块中的注释样式 */
.highlight .c1 { /* 仅针对代码高亮块中的注释 */
    font-weight: normal;
    font-style: normal;
    color: #006400;
}
/* 设置段落的行距 */
p {
   line-height: 1.6;
   margin-bottom: 10px;
   margin-top: 10px;
}

/* 设置标题的下边距 */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px; /* 标题下方的空间 */
}
li {
    list-style: none;
    margin-bottom: 10px;
    margin-top: 10px;
}
